<% include partials/header %>
<div class="container">
  <div class='row'>
   <div class='col-md-8 col-md-offset-2'>
     <div class="thumbnail">
       <div class="caption text-center">
       <h2><%= foundBlog.title %></h2>
       </div>
       <a href='/blogs/<%= foundBlog._id %>'><img src=<%= foundBlog.image %> alt="" /></a>
        <p>Created On: <%= foundBlog.created.toDateString() %></p>
       <p>
         <%= foundBlog.description %>
       </p>
      </div>
     </div>
    </div>
  <div class='text-center'>
    <a href="/blogs/<%= foundBlog._id %>/edit" class='btn btn-info'>Edit</a>
    <a href="/blogs/<%= foundBlog._id %>/delete" class='btn btn-danger'>Delete</a>
  </div>
</div>

<% include partials/footer %>
